body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0efef;
}

/* Barra de navegação superior */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribui logo/título para a esquerda, links para a direita */
  background-color: #013680;
  padding: 10px;
}
.nav-links {
  display: flex;
  gap: 15px;
  margin-left: auto; /* Empurra os links para a direita */
}


/* Botões da navegação */
.nav-item {
  margin-right: 35px;
  padding: 8px 16px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold; 
  font-family: "Segoe UI", "Roboto", sans-serif;
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
}


.nav-proTech {
  margin-right: 35px;
  padding: auto;
  color: #eded76;
  background-color: #013680;
  font-weight: bold; /* negrito */
  font-style: italic; /* itálico */
  font-size: 2em;
  text-align: center;
  margin-top: auto;
   transition: 1s all;
}

.nav-item.nav-item.active:hover {
    background-color: #e1e154; 
    transform: scale(1.2) rotate(4deg);
}

.nav-logo {
  margin-right: 40px; 
  font-weight: bold;
  font-style: italic; 
  text-decoration: none;
  cursor: pointer;
  height: 20px 60px; /* altura do logo */
}


.nav-item.active {
  background-color: #eded76; 
  color: #013680;
  font-weight: bold;
  font-style: italic;
}


/* Barra inferior */
footer {
  background-color: #013680;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-style: italic;
  position: fixed;
  bottom: 0;
}



